In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("spam.csv",encoding='latin-1')

In [8]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [9]:
df=  df[['v1','v2']]

In [10]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [11]:
df.tail()

        v1                                                 v2
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

In [14]:
df.v1.value_counts()

ham     4825
spam     747
Name: v1, dtype: int64

In [15]:
df.sample(50)

        v1                                                 v2
4902   ham               \I;m reaching in another 2 stops.\""
1253   ham  Mum say we wan to go then go... Then she can s...
1310   ham  I.ll always be there, even if its just in spir...
5098  spam  TheMob>Hit the link to get a premium Pink Pant...
2216   ham  OK i'm waliking ard now... Do u wan me 2 buy a...
2443   ham  &lt;#&gt;  great loxahatchee xmas tree burning...
855   spam  Talk sexy!! Make new friends or fall in love i...
2695   ham  And whenever you and i see we can still hook u...
47     ham                    Fair enough, anything going on?
5237  spam  Someonone you know is trying to contact you vi...
2329   ham  Am surfing online store. For offers do you wan...
3230   ham                 No plm i will come da. On the way.
1393   ham                                            Oh ok..
1899   ham                        I love working from home :)
3256   ham  No, but you told me you were going, before you...
152    ham                          Ok... Ur typical reply...
4785   ham      Holy living christ what is taking you so long
5132   ham  it's still not working. And this time i also t...
3368   ham  Sorry i've not gone to that place. I.ll do so ...
4878   ham  Yeah just open chat and click friend lists. Th...
2160   ham  No. Its not specialisation. Can work but its s...
331    ham  Maybe i could get book out tomo then return it...
4204  spam  IMPORTANT INFORMATION 4 ORANGE USER 0796XXXXXX...
1738   ham                 K go and sleep well. Take rest:-).
4388   ham                          K I'm ready,  &lt;#&gt; ?
4396   ham                             When did dad get back.
5150   ham  Happy new year to u and ur family...may this n...
4989  spam  Phony å£350 award - Todays Voda numbers ending...
3157   ham  Thank u. IT BETTER WORK OUT CAUSE I WILL FEEL ...
665    ham  En chikku nange bakra msg kalstiya..then had t...
4935   ham                           K..k.:)congratulation ..
3841   ham  chile, please! It's only a  &lt;DECIMAL&gt;  h...
169    ham  Yes :)it completely in out of form:)clark also...
3674   ham                           Whos this am in class:-)
2787   ham  Forgot it takes me 3 years to shower, sorry. W...
3214   ham         I want snow. It's just freezing and windy.
3485   ham                   Yeah, probably earlier than that
1024   ham  Hasn't that been the pattern recently crap wee...
716   spam  +449071512431 URGENT! This is the 2nd attempt ...
3901   ham                       Right on brah, see you later
5541   ham                              Yeah it's jus rite...
2653   ham  Sorry da:)i was thought of calling you lot of ...
1018   ham  Nope watching tv at home... Not going out. V b...
2449   ham                          Then she dun believe wat?
5097   ham  Sorry about that this is my mates phone and i ...
1431   ham  My painful personal thought- \I always try to ...
1619   ham            Friends that u can stay on fb chat with
5205  spam  Had your mobile 11mths ? Update for FREE to Or...
3205   ham                                      At home also.
937    ham                           K:)k.are you in college?

In [16]:
df['v1'] = df['v1'].apply(lambda x:1 if x=='spam' else 0)

In [17]:
df

      v1                                                 v2
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...
...   ..                                                ...
5567   1  This is the 2nd time we have tried 2 contact u...
5568   0              Will Ì_ b going to esplanade fr home?
5569   0  Pity, * was in mood for that. So...any other s...
5570   0  The guy did some bitching but I acted like i'd...
5571   0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.v2, df.v1, test_size=0.2, random_state=42)

In [19]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_converted = v.fit_transform(X_train)

In [22]:
X_train_converted.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [24]:
from sklearn.naive_bayes import MultinomialNB #when there is text data
classifier = MultinomialNB()
classifier.fit(X_train_converted,y_train)

MultinomialNB()

In [33]:
email = [
    "you have won a lottery , you would get a reward , a 20% discount",
    "Will you come to watch a cricket match tommorow"
]

In [34]:
em_count = v.transform(email)

In [35]:
classifier.predict(em_count)

array([1, 0], dtype=int64)