In [65]:
# Dataset: retail_dataset.csv
# Tasks To Be Performed:
# 1. Using pandas import the dataset as DataFrame
# 2. Install the mixtend library to use Apriori and association rule mining
# 3. Using the Apriori algorithm generate a list of items frequently bought
# together
# 4. Generate the association rules for the given items from the Apriori
# algorithm

In [66]:
# 1. Using pandas import the dataset as DataFrame

import pandas as pd

df = pd.read_csv('Retail.csv',encoding='latin-1',skiprows=[0])
df.head()

,Transactions from the Database,Unnamed: 1,Unnamed: 2,#Transactions in which\n the item is bought,Support,Unnamed: 5
0,"1 : { Pencils, Markers, Highlighters, Papers}",NaN,Pencils,2,0.2,NaN
1,"2 : {Markers, Erasers}",NaN,Markers,6,0.6,NaN
2,"3 : {Stapler Pins, Papers, Erasers, Card Holde...",NaN,Highlighters,3,0.3,NaN
3,"4 : {Papers, Erasers, Cad Holders}",NaN,Papers,4,0.4,NaN
4,"5 : {Markers, Post-it, Erasers}",NaN,Erasers,7,0.7,NaN

In [67]:
df.tail()

,Transactions from the Database,Unnamed: 1,Unnamed: 2,#Transactions in which\n the item is bought,Support,Unnamed: 5
12,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,Confidence\n P(Erasers|Markers) = P(MarkersÇEr...,Lift\nP(Erasers|Markers) / P( Erasers)
14,NaN,NaN,RULE: Markers = > Erasers,NaN,0.833,1.19
15,NaN,NaN,"Out of 6 times markers are bought, 5 times er...",NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
# 2. Install the mixtend library to use Apriori and association rule mining
# type pip install mlxtend in cmd

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 6 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Transactions from the Database              10 non-null     object
 1   Unnamed: 1                                  0 non-null      float64
 2   Unnamed: 2                                  13 non-null     object
 3   #Transactions in which
 the item is bought  11 non-null     object
 4   Support                                     13 non-null     object
 5   Unnamed: 5                                  2 non-null      object
dtypes: float64(1), object(5)
memory usage: 944.0+ bytes

In [70]:

df.nunique()

Transactions from the Database                 10
Unnamed: 1                                      0
Unnamed: 2                                     13
#Transactions in which\n the item is bought     7
Support                                         9
Unnamed: 5                                      2
dtype: int64

In [71]:
for column in df.columns:
    unique_values = df[column].unique()
    print(f"Unique values in '{column}': \n{unique_values}\n")

Unique values in 'Transactions from the Database':
['1 : { Pencils, Markers, Highlighters, Papers}' '2 : {Markers, Erasers}'
 '3 : {Stapler Pins, Papers, Erasers, Card Holders, Highlighters}'
 '4 : {Papers, Erasers, Cad Holders}' '5 : {Markers, Post-it, Erasers}'
 '6 : {Envelop}' '7 : {Markers, Erasers}'
 '8 : {Pencils, Markers, StaplerPins, Post-it, Highlighter, Papers, Erasers}'
 '9 : {StaplerPins, Post-it, Markers, Erasers}' '10 : {Envelop}' nan]

Unique values in 'Unnamed: 1':
[nan]

Unique values in 'Unnamed: 2':
['Pencils' 'Markers' 'Highlighters' 'Papers' 'Erasers' 'Stapler Pins'
 'Card Holders' 'Post-it' 'Envelop' nan
 'Construct item-sets with items that satisfy minimum support'
 'Markers,Erasers' 'RULE: Markers = > Erasers'
 'Out of 6 times markers are bought,  5 times erasers are also brought.']

Unique values in '#Transactions in which
 the item is bought':
['2' '6' '3' '4' '7' nan '#Transactions in which\n the item is bought' '5']

Unique values in 'Support':
['0.2' '0.6' '0.3' '0.4' '0.7' nan 'Support\nP(MarkersÇErasers)' '0.5'
 'Confidence\n P(Erasers|Markers) = P(MarkersÇErasers)/P(Markers)' '0.833']

Unique values in 'Unnamed: 5':
[nan 'Lift\nP(Erasers|Markers) / P( Erasers)' '1.19']

In [72]:
for column in df.columns:
    values_count = df[column].value_counts()
    print(f"Count of Unique values in '{column}': \n{values_count}\n")

Count of Unique values in 'Transactions from the Database':
1 : { Pencils, Markers, Highlighters, Papers}                                 1
2 : {Markers, Erasers}                                                        1
3 : {Stapler Pins, Papers, Erasers, Card Holders, Highlighters}               1
4 : {Papers, Erasers, Cad Holders}                                            1
5 : {Markers, Post-it, Erasers}                                               1
6 : {Envelop}                                                                 1
7 : {Markers, Erasers}                                                        1
8 : {Pencils, Markers, StaplerPins, Post-it, Highlighter, Papers, Erasers}    1
9 : {StaplerPins, Post-it, Markers, Erasers}                                  1
10 : {Envelop}                                                                1
Name: Transactions from the Database, dtype: int64

Count of Unique values in 'Unnamed: 1':
Series([], Name: Unnamed: 1, dtype: int64)

Count of Unique values in 'Unnamed: 2':
Pencils                                                                  1
Markers                                                                  1
Highlighters                                                             1
Papers                                                                   1
Erasers                                                                  1
Stapler Pins                                                             1
Card Holders                                                             1
Post-it                                                                  1
Envelop                                                                  1
Construct item-sets with items that satisfy minimum support              1
Markers,Erasers                                                          1
RULE: Markers = > Erasers                                                1
Out of 6 times markers are bought,  5 times erasers are also brought.    1
Name: Unnamed: 2, dtype: int64

Count of Unique values in '#Transactions in which
 the item is bought':
2                                              3
3                                              3
6                                              1
4                                              1
7                                              1
#Transactions in which\n the item is bought    1
5                                              1
Name: #Transactions in which\n the item is bought, dtype: int64

Count of Unique values in 'Support':
0.2                                                                3
0.3                                                                3
0.6                                                                1
0.4                                                                1
0.7                                                                1
Support\nP(MarkersÇErasers)                                        1
0.5                                                                1
Confidence\n P(Erasers|Markers) = P(MarkersÇErasers)/P(Markers)    1
0.833                                                              1
Name: Support, dtype: int64

Count of Unique values in 'Unnamed: 5':
Lift\nP(Erasers|Markers) / P( Erasers)    1
1.19                                      1
Name: Unnamed: 5, dtype: int64

In [73]:
df.isnull().sum()

Transactions from the Database                  7
Unnamed: 1                                     17
Unnamed: 2                                      4
#Transactions in which\n the item is bought     6
Support                                         4
Unnamed: 5                                     15
dtype: int64

In [74]:
data=df.drop(['Unnamed: 1','Unnamed: 2', 'Unnamed: 5'],axis=1)
data.dropna(inplace=True)
data['#Transactions in which\n the item is bought']=data['#Transactions in which\n the item is bought'].astype(int)
data.head()

,Transactions from the Database,#Transactions in which\n the item is bought,Support
0,"1 : { Pencils, Markers, Highlighters, Papers}",2,0.2
1,"2 : {Markers, Erasers}",6,0.6
2,"3 : {Stapler Pins, Papers, Erasers, Card Holde...",3,0.3
3,"4 : {Papers, Erasers, Cad Holders}",4,0.4
4,"5 : {Markers, Post-it, Erasers}",7,0.7

In [75]:

data['Transactions from the Database']

0        1 : { Pencils, Markers, Highlighters, Papers}
1                               2 : {Markers, Erasers}
2    3 : {Stapler Pins, Papers, Erasers, Card Holde...
3                   4 : {Papers, Erasers, Cad Holders}
4                      5 : {Markers, Post-it, Erasers}
5                                        6 : {Envelop}
6                               7 : {Markers, Erasers}
7    8 : {Pencils, Markers, StaplerPins, Post-it, H...
8         9 : {StaplerPins, Post-it, Markers, Erasers}
Name: Transactions from the Database, dtype: object

In [76]:
# 3. Using the Apriori algorithm generate a list of items frequently bought
# together

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

# Convert the 'Transactions from the Database' column to a list of sets
data['Transactions from the Database'] = data['Transactions from the Database'].apply(lambda x: x[x.find('{')+1:x.find('}')] if isinstance(x, str) else '')
data

,Transactions from the Database,#Transactions in which\n the item is bought,Support
0,"Pencils, Markers, Highlighters, Papers",2,0.2
1,"Markers, Erasers",6,0.6
2,"Stapler Pins, Papers, Erasers, Card Holders, H...",3,0.3
3,"Papers, Erasers, Cad Holders",4,0.4
4,"Markers, Post-it, Erasers",7,0.7
5,Envelop,3,0.3
6,"Markers, Erasers",2,0.2
7,"Pencils, Markers, StaplerPins, Post-it, Highli...",3,0.3
8,"StaplerPins, Post-it, Markers, Erasers",2,0.2

In [77]:
# Create a DataFrame
data_df = pd.DataFrame(data)

# Create a list to store the repeated values
repeated_values = []

# Iterate through each row in the DataFrame
for _, row in data_df.iterrows():
    repeated_values.extend([row["Transactions from the Database"]] * row["#Transactions in which\n the item is bought"])

# Generate a DataFrame with the repeated values
final_df = pd.DataFrame({'Transactions from the Database': repeated_values})
final_df.head()

            Transactions from the Database
0   Pencils, Markers, Highlighters, Papers
1   Pencils, Markers, Highlighters, Papers
2                         Markers, Erasers
3                         Markers, Erasers
4                         Markers, Erasers

In [84]:
# Assuming 'column_name' is the name of the column containing the strings
separator = ', '  # Adjust the separator based on your data
list_of_lists = [row.split(separator) for row in final_df['Transactions from the Database']]

KeyError: 'Transactions from the Database'

In [79]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(final_df).transform(final_df)
final_df = pd.DataFrame(te_ary, columns=te.columns_)
final_df

,,D,T,a,b,c,e,f,h,i,m,n,o,r,s,t
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [80]:
# Apply the Apriori algorithm to find frequent itemsets
min_support = 0.1  # Adjust the minimum support as needed
frequent_itemsets = apriori(final_df, min_support=min_support, use_colnames=True)

# Display the frequent itemsets
print("Frequent Itemsets:")
print(frequent_itemsets)

Frequent Itemsets:
Empty DataFrame
Columns: [support, itemsets]
Index: []

In [81]:
from mlxtend.frequent_patterns import apriori, association_rules

# Generate association rules
association_rules_result = association_rules(frequent_itemsets, metric="support")

# Display the generated association rules
print("Generated Association Rules:")
print(association_rules_result)

ValueError: The input DataFrame `df` containing the frequent itemsets is empty.